/*General css*/
/*body*/
body{
	background: #fffdf5;
 	background: -webkit-linear-gradient(#fffcf1, #fffdf5);
	background: -moz-linear-gradient(#fffcf1, #fffdf5);
	background: -o-linear-gradient(#fffcf1, #fffdf5);
	background: -ms-linear-gradient(#fffcf1, #fffdf5);
	background: linear-gradient(#fffcf1, #fffdf5);
}
h1,h2{
	color: #1f8a70;
}
/*subheadings*/
h4,h3{
	color: #1f8a70;
}
/*default button dropdown*/
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group>.btn-lg+.dropdown-toggle{
	background: #004358;
	color: #fffdf5;
}
/*block level button*/
.btn-block{
	background: #fd7400;
	border: #fd7400;
	margin-top: 30px;
	color: #fffdf5;
}
/*block level button on hover*/
.btn-block:hover{
	background: #bedb39;
	border: #bedb39;
	color: #fffdf5;
}
/***breadcrumbs nav***/
.breadcrumb {
background-color: inherit;
padding-top: 10px;
}
/*links in breadcrumbs*/
.breadcrumb li a{
	color: #1f8a70;
}
/*breadcrumb hover*/
.breadcrumb a:hover{
	text-decoration: none;
	color: #bedb39;
}
/*active breadcrumb link*/
.breadcrumb .active a{
	color: #fd7400;
}
/*read more links*/
.readLink{
	color: #fd7400;
}
/*read more links on hover*/
.readLink:hover{
	text-decoration: none;
	color: #bedb39;
}
/*pagination buttons*/
ul.pagination>li>a{
	background: #004358;
	color: #fffdf5;
}
/***********************MAIN NAV*********************************/
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background: #1f8a70;
	background: -webkit-linear-gradient(#4ca18d, #1f8a70);
	background: -moz-linear-gradient(#4ca18d, #1f8a70);
	background: -o-linear-gradient(#4ca18d, #1f8a70);
	background: -ms-linear-gradient(#4ca18d, #1f8a70);
	background: linear-gradient(#4ca18d, #1f8a70);
}
/*nav bar text*/
.navbar-default .navbar-nav>li>a {
color: #fffdf5;
}
/*active nav button*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover{
	background: #fd7400;
	color: #fffdf5;
}
/*hover over nav buttons*/
.navbar-default .navbar-nav>li>a:hover{
	background: #bedb39;
	color: #fffdf5;
}
/*dropdown menu at full screen size*/
.navbar-nav>li>.dropdown-menu{
	background: #1f8a70;
	background: -webkit-linear-gradient(#4ca18d, #1f8a70);
	background: -moz-linear-gradient(#4ca18d, #1f8a70);
	background: -o-linear-gradient(#4ca18d, #1f8a70);
	background: -ms-linear-gradient(#4ca18d, #1f8a70);
	background: linear-gradient(#4ca18d, #1f8a70);
}
/*nav bar at mobile size*/
.navbar-header{
	background: #1f8a70;
	background: -webkit-linear-gradient(#4ca18d, #1f8a70);
	background: -moz-linear-gradient(#4ca18d, #1f8a70);
	background: -o-linear-gradient(#4ca18d, #1f8a70);
	background: -ms-linear-gradient(#4ca18d, #1f8a70);
	background: linear-gradient(#4ca18d, #1f8a70);
}
/*pancake nav button*/
#navButton{
	background: #fd7400;
}
/*pancake nav bars*/
#navButton .icon-bar{
	background: #fffdf5;
}
/*drop down menu*/
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #fffdf5;
}
/*drop down menu hover*/
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
	background: #bedb39;
	color: #fffdf5;
}
/*dropdown section on open*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background: #fffdf5;
 	background: -webkit-linear-gradient(#fffcf1, #fffdf5);
	background: -moz-linear-gradient(#fffcf1, #fffdf5);
	background: -o-linear-gradient(#fffcf1, #fffdf5);
	background: -ms-linear-gradient(#fffcf1, #fffdf5);
	background: linear-gradient(#fffcf1, #fffdf5);
	color: #1f8a70;
}
/***************BREADCRUMBS****************/
ol.breadcrumb{
	background: inherit;
}

/***************SEARCH SECTION******************/
/*search section*/
#search{
	padding-top: 50px;
}
/*search button*/
.btn-primary{
	background: #fd7400;
	border-color: #fd7400;
	width:140px;
	color: #fffdf5;
}
/*search button hover*/
.btn-primary:hover{
	background: #bedb39;
	border-color: #bedb39;
	color: #fffdf5;
}
/*search input and button*/
#search .btn-primary,#search .input-group{
	margin-top: 30px;
}
/*search drop down*/
.input-group-btn:first-child>.dropdown-toggle{
	background: #fd7400;
	color: #fffdf5;
}
/*search drop down hover*/
.input-group-btn:first-child>.dropdown-toggle:hover{
	background: #1f8a70;
	background: -webkit-linear-gradient(#4ca18d, #1f8a70);
	background: -moz-linear-gradient(#4ca18d, #1f8a70);
	background: -o-linear-gradient(#4ca18d, #1f8a70);
	background: -ms-linear-gradient(#4ca18d, #1f8a70);
	background: linear-gradient(#4ca18d, #1f8a70);
}
/*drop down list hover*/
.dropdown-menu>li>a:hover{
	background: #1f8a70;
	background: -webkit-linear-gradient(#4ca18d, #1f8a70);
	background: -moz-linear-gradient(#4ca18d, #1f8a70);
	background: -o-linear-gradient(#4ca18d, #1f8a70);
	background: -ms-linear-gradient(#4ca18d, #1f8a70);
	background: linear-gradient(#4ca18d, #1f8a70);
	color: #fffdf5;
}
/*"one-stop search" text in Jingle under search*/
#logoTag{
	color: #fd7400;
}
/************************Aside Add Space*************/
/*add space side panel*/
aside .thumbnail{
	background: #fffdf5;
	padding-top: 30px;
	border: 1px solid #1f8a70;
	margin: 30px 0 30px 0;
}

/*thumbnail text*/
.thumbnail .caption{
color: #004358;
}
/**********FOOTER**********************/
footer{
	margin-top: 50px;
	padding-top: 50px;
	border-top:2px solid #1f8a70;
}
/*footer nav links*/
.nav-pills>li>a{
	color: #4ca18d;
}
/*active color for pills nav*/
.nav-pills>li.active>a{
	background: inherit;
	color: #fd7400;
}
.nav-pills>li.active>a:hover{
	background: #bedb39;
}
/*hover over footer nav*/
.nav-pills>li>a:hover{
	background: #bedb39;
	color: #fffdf5;
}

/*******************************************************INDEX.HTML PAGE********************************************/
/******JumboTron Section(main)*****/
/*container*/
.jumbotron{
	background: #1f8a70;
	background: -webkit-linear-gradient(#4ca18d, #1f8a70);
	background: -moz-linear-gradient(#4ca18d, #1f8a70);
	background: -o-linear-gradient(#4ca18d, #1f8a70);
	background: -ms-linear-gradient(#4ca18d, #1f8a70);
	background: linear-gradient(#4ca18d, #1f8a70);
	margin-top: 30px;
}
/**/
.jumbotron h2{
	color:#004358; 
}
/*main paragraph*/
.jumbotron p{
	color:#fffdf5; 
}
/*main article image*/
.jumbotron img{
	border: 2px solid #004358;
}

/********Second Article Section*********/
/*container for second article row*/
#secondArticle{
	margin-top: 30px;
	padding-bottom: 30px;
}
/*article with feature artist*/
#featureArtist{
	margin-top: 10px;
}
/*feature artist button*/
#secondArticle button{
	width: 50%;
	border:#004358;
	margin-top: 30px;
}
/**/
#vid{
	margin-bottom: 20px;
}
/***********Gallery***************/
/*container holding gal title and button*/
#imageGal{
	margin-top: 50px;
}
/*gal section*/
#supplyGal{
	margin-top: 50px;
}
#supplyGal img{
	margin-bottom: 10px;
}
#gal1 button{
	width:100%;
}


/*******************************************************FAV.HTML PAGE********************************************/
/*title for fav gallery*/
#favGal h2{
	margin-bottom: 30px;
}
/*images in favorites gallery*/
#favGal img{
	margin-bottom: 15px;
}

/***********community fav articles************/
/*background containers for favs*/
#fav1,#fav2,#fav3{
	padding: 10px 40px 60px 40px;
}
/*headers for com fav sections*/
#fav1 h2,#fav2 h2,#fav3 h2{
	color: #fffdf5;
	padding-bottom: 50px;
}
/*container for com. faves*/
#fav1{
	background: #1f8a70;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-o-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
/***fav tut section***/
/*container for com. fav tuts*/
#fav2{
	background: #004358;
}
#fav2 .col-lg-4{
	margin-bottom: 40px;
}
/***fav tools section***/
/*container for com. fav tools*/
#fav3{
	background: #1f8a70;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-o-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}


/************************************************BEADS.HTML*************************************************************************/
/*main article container*/
#beadArt{
	padding-top: 50px;
}
/*bead gal container*/
#beadGal{
	padding-top: 100px;
}
/*bead article image*/
#beadImg{
	float: right;
	margin:20px;
	border: 2px solid #004358;
}
/*header in bead gal*/
#beadGal h2{
	font-size: 3em;
}
/*drop down button in beads gal*/
#listBtn{
	padding-top:15px;
}


/*************************************************DETAILS PAGE*************************************************************************/

/*item pricing*/
#price{
	font-size: 2em;
	color: #004358;
}
/*text and info in listing*/
.listText{
	margin-bottom: 20px;
}

.fa{
	margin-right: 15px;
	color: #1f8a70;
}

.fa:hover{
	color: #fd7400;
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		/*bead article imageon bead.html*/
		#beadImg{
			float: none;
		}
	}












